# Database
PGHOST=localhost
PGPORT=5432
PGDATABASE=openmusicv2
PGUSER=postgres
PGPASSWORD=postgres

# JWT
ACCESS_TOKEN_KEY=supersecretaccesstoken
REFRESH_TOKEN_KEY=supersecretrefreshtoken
ACCESS_TOKEN_AGE=3600   # detik

# Server
PORT=5000
HOST=0.0.0.0
